<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express Movies</title>
    <link rel="stylesheet" href="../public/style.css" />
</head>

<body>
    <div class="central">
        <% include ./partials/header %>


        <!-- <h1>Details du film :
            <%=movietitle%>
        </h1> -->
        <h1>Detail du film :
            <%=movietitle%>
        </h1>

        <!-- <div>
            les détails du film:
            <%=moviesid%>
        </div> -->
        <div>Les détails du film :
            <%=moviesid%>
        </div>


    </div>
    <% include ./partials/footer %>
</body>

</html>